@import "src/styles/variables";

.ticket-filter {
  &__wrapper {
    background-color: $primary-white-color;

    box-shadow: 0 2px 8px rgba($primary-black-color, 0.1);

    border-radius: 5px;

    padding-bottom: 10px;
  }

  &__title {
    color: #4A4A4A;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;

    padding: 20px 20px 0;

    margin: 0 0 10px;

    text-transform: uppercase;
  }
}
