$primary-background-color: #F3F7FA;
$primary-black-color: #000;
$primary-white-color: #FFF;
$primary-font-color: #4A4A4A;
$primary-control-border-color: #9ABBCE;
$primary-blue-hover-color: #F1FCFF;
$primary-deep-blue-color: #2196F3;
$primary-light-gray-border-color: #DFE5EC;
$primary-secondary-text-color: #A0B0B9;
